{% extends 'base.html.twig' %}

{% block title %}Cook Your Meeting{% endblock %}

{% block banner %}
    <img src="{{ asset('build/images/banner_accueil.png') }}" alt="banner" class="banner">
{% endblock %}

{% block body %}
        {#                    Partie de gauche #}
        <div class="fleche-boutique-box">
            <a href="">
                <img class="fleche-boutique" src="{{ asset('build/images/panneau_boutique.png') }}" alt="La boutique">
            </a>
        </div>

        <div class="fleche-ressources-box">
            <a href="">
                <img class="fleche-ressources" src="{{ asset('build/images/panneau_ressource.png') }}"
                     alt="Les ressources">
            </a>
        </div>

        {#                            Partie du milieu#}
        <div class="panneau-box">
            <img class="panneau" src="{{ asset('build/images/panneau_milieu.png') }}" alt="Panneau central">
        </div>


        {#                            Partie de droite#}
        <div class="fleche-parti-box">
            <a href="{{ path('reunion-parametres') }}">
                <img class="fleche-parti" src="{{ asset('build/images/panneau_parti.png') }}" alt="Let's go">
            </a>
        </div>

        <div class="fleche-ccm-box">
            <a href="">
                <img class="fleche-ccm" src="{{ asset('build/images/panneau_ccm.png') }}" alt="Comment ça marche">
            </a>
        </div>


{% endblock %}
{% block footertitre %}Anatomie{% endblock %}
{% block footersoustitre %}Mais qu'est-ce que c'est ?{% endblock %}



