{% extends 'base-arbre.html.twig' %}

{% block title %}Cook Your Meeting{% endblock %}

{% block banner %}
    <img src="{{ asset('build/images/banner_accueil.png') }}" alt="banner" class="banner">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row my-4">
            <div class="col text-center">
                <h6 class="font-weight-lighter text-dark">Cette page vous permet de modifier les informations de votre base de données</h6>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-2"></div>
            <div class="col-8">
                <table class="table table-sm font-weight-lighter table-striped table-borderless">
                    <tbody>
                    <tr>
                        <td>Modification de la table <strong class="font-weight-bold text-uppercase">DURéE</strong></td>
                        <td>
                            <a href="{{ path('duree_index')}}">
                                <button class="btn btn-sm btn-light btn-block border border-secondary">Cliquez ici</button>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Modification de la table <strong class="font-weight-bold">PARTICIPANT</strong></td>
                        <td>
                            <a href="{{ path('groupe_index')}}">
                                <button class="btn btn-sm btn-light btn-block border border-secondary">Cliquez ici</button>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Modification de la table <strong class="font-weight-bold text-uppercase">CATégORIE</strong></td>
                        <td>
                            <a href="{{ path('categorie_index')}}">
                                <button class="btn btn-sm btn-light btn-block border border-secondary">Cliquez ici</button>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Modification de la table <strong class="font-weight-bold text-uppercase">SOUS-CATéGORIE</strong></td>
                        <td>
                            <a href="{{ path('carte_index')}}">
                                <button class="btn btn-sm btn-light btn-block border border-secondary">Cliquez ici</button>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Modification de la table <strong class="font-weight-bold">CORRESPONDANCE</strong></td>
                        <td>
                            <a href="{{ path('correspondance_index')}}">
                                <button class="btn btn-sm btn-light btn-block border border-secondary">Cliquez ici</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2"></div>
        </div>
    </div>


{% endblock %}
