{% extends 'base-bootstrap-sans-footer.html.twig' %}

{% block title %}Designs{% endblock %}

{% block banner %}
    <img src="{{ asset('build/images/banner_accueil.png') }}" alt="banner" class="banner h-75">
{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center">
        <p class="titre-consigne mb-5">Retrouvez dans cette partie l'ensemble des Designs réalisés</p>
    </div>
    <div class="row d-flex justify-content-center">
    {% for ressource in ressources %}
        <div class="col-5 exercices-col my-3">
            <a href="{{ path('design-detail', {'id': ressource.id}) }}" style="text-decoration: none">
                <div class="card exercices">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <p class="card-title titre-card-exercice">Design</p>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <p class="card-title titre-card text-center text-uppercase font-weight-bold">{{ ressource.titre }}</p>
                        </div>
                        <div class="row d-flex justify-content-around">
                            <p class="card-title titre-card">Durée: {{ ressource.duree }}</p>
                            <p class="card-title titre-card">Participants: {{ ressource.groupe }}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>

{% endblock %}
