{% extends 'base-bootstrap-sans-footer.html.twig' %}

{% block title %}Arbre{% endblock %}

{% block banner %}
    <img src="{{ asset('build/images/banner_accueil.png') }}" alt="banner" class="banner h-75">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row d-flex justify-content-center">
            <p class="display-4 mon-design-texte">Mon Design</p>
        </div>
        <div class="row d-flex justify-content-around mt-3">
            <h2 class="mon-design-texte">durée : {{ duree }} - participants : {{ groupe }}</h2>
        </div>
        <hr>
        <div class="row d-flex justify-content-around my-5">
            {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}

            {{ form_label(form.titre, 'Titre de mon Design', {'label_attr': {'class': 'h5 mr-4 text-dark py-2 texte-synthese'}}) }}
            {{ form_widget(form.titre, {'attr': {'class': 'form-control-lg mr-4'}}) }}

            {{ form_label(form.email, 'Email', {'label_attr': {'class': 'h5 mr-4 text-dark py-2 texte-synthese'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control-lg mr-4'}}) }}

            {{ form_widget(form.envoyer, {'attr': {'class': 'btn  btn-lg btn-dark'}}) }}
            {{ form_end(form) }}
        </div>

        <div class="row d-flex justify-content-center mt-3 texte-synthese">
            <div class="col-10">
                <p class="text-center texte-synthese mb-4">Retrouvez ce design dans vos emails, et dans la partie <span class="texte-synthese-strong">Exemple
                        de Design</span> du site </p>
                <p class="text-center texte-synthese">Il y sera partagé avec la communauté des utilisateurs:
                    pensez à lui donner un titre représentatif de votre séquence d'animation.</p>
                <p class="text-center texte-synthese font-italic mb-4">exemple: "Prise de décision, 2h / 5 personnes" ou "Réunion de créativité, 1h
                    / 10 personnes"</p>
                <p class="text-center texte-synthese-sm">A noter: Nous nous réservons le droit de modifier le titre des designs pour les
                    besoins d'usage.</p>
            </div>
        </div>
        <hr>


        {#        creer le champ#}
        <div class="row mt-5">
            <div class="col-2">
                <img src="{{ asset("build/images/creerChamp.6b22092e.png") }}" class="" alt="drapeau">
            </div>
        </div>
        <div class="row mt-4">
            {% for exercice in exercices %}
                {% for cat, exo in exercice %}
                    {% for ex, titre in exo %}
                        {% if 1 == cat %}
                            <div class="col-6">
                                <a href="https://jouer-collectif.com/contenu/{{ ex }}" target="_blank"
                                   style="text-decoration: none">
                                    <div class="card exercices-synthese my-1">
                                        <div class="card-body text-center">
                                            <div class="card-title" style="text-decoration: none">
                                                {{ titre }}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
        {#        engagement#}
        <div class="row mt-5">
            <div class="col-2">
                <img src="{{ asset("build/images/engagement.c9163a35.png") }}" class="" alt="drapeau">
            </div>
        </div>
        <div class="row mt-4">
            {% for exercice in exercices %}
                {% for cat, exo in exercice %}
                    {% for ex, titre in exo %}
                        {% if 2== cat %}
                            <div class="col-6">
                                <a href="https://jouer-collectif.com/contenu/{{ ex }}" target="_blank"
                                   style="text-decoration: none">
                                    <div class="card exercices-synthese my-1">
                                        <div class="card-body text-center">
                                            <div class="card-title" style="text-decoration: none">
                                                {{ titre }}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>

        {#        synergie#}
        <div class="row mt-5">
            <div class="col-2">
                <img src="{{ asset("build/images/synergie.589e9f63.png") }}" class="" alt="drapeau">
            </div>
        </div>
        <div class="row mt-4">
            {% for exercice in exercices %}
                {% for cat, exo in exercice %}
                    {% for ex, titre in exo %}
                        {% if 3== cat %}
                            <div class="col-6">
                                <a href="https://jouer-collectif.com/contenu/{{ ex }}" target="_blank"
                                   style="text-decoration: none">
                                    <div class="card exercices-synthese my-1">
                                        <div class="card-body text-center">
                                            <div class="card-title" style="text-decoration: none">
                                                {{ titre }}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>

        {#        ancrage#}
        <div class="row mt-5">
            <div class="col-2">
                <img src="{{ asset("build/images/ancrage.193b817e.png") }}" class="" alt="drapeau">
            </div>
        </div>
        <div class="row mt-4">
            {% for exercice in exercices %}
                {% for cat, exo in exercice %}
                    {% for ex, titre in exo %}
                        {% if 4== cat %}
                            <div class="col-6">
                                <a href="https://jouer-collectif.com/contenu/{{ ex }}" target="_blank"
                                   style="text-decoration: none">
                                    <div class="card exercices-synthese my-1">
                                        <div class="card-body text-center">
                                            <div class="card-title" style="text-decoration: none">
                                                {{ titre }}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>

        {#        declusion#}
        <div class="row mt-5">
            <div class="col-2">
                <img src="{{ asset("build/images/declusion.9b0b7e71.png") }}" class="" alt="drapeau">
            </div>
        </div>
        <div class="row mt-4">
            {% for exercice in exercices %}
                {% for cat, exo in exercice %}
                    {% for ex, titre in exo %}
                        {% if 5== cat %}
                            <div class="col-6">
                                <a href="https://jouer-collectif.com/contenu/{{ ex }}" target="_blank"
                                   style="text-decoration: none">
                                    <div class="card exercices-synthese my-1">
                                        <div class="card-body text-center">
                                            <div class="card-title" style="text-decoration: none">
                                                {{ titre }}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    {# CREER LE CHAMP - Synthese des exercices choisis #}
    >

    {#         #}{#ENGAGEMENT - Synthese des exercices choisis #}
    {#            <div class="row py-2 border-top border-light">#}
    {#                <div class="col-2 mr-5">#}
    {#                    <img src="{{asset("build/image/engagement.png")}}" class="" alt="engagement">#}
    {#                </div>#}
    {#                <div class="col d-flex justify-align-end">#}
    {#                    {% for exercice in exercices %}#}
    {#                        {% for cat, exo in exercice %}#}
    {#                            {% for ex, titre in exo %}#}
    {#                                {% if 2 == cat %}#}
    {#                                    <div class="col-2 text-center px-0 mx-0">#}
    {#                                        <a href="https://jouer-collectif.com/contenu/{{ ex }}" target="_blank">#}
    {#                                            <div class="card border border-light mr-3 py-1 shadow" style="height: 4vw;">#}
    {#                                                <div class="card-body p-0">#}
    {#                                                    <p class="card-title font-weight-light d-flex justify-content-center titre-card">{{ titre }}</p>#}
    {#                                                </div>#}
    {#                                            </div>#}
    {#                                        </a>#}
    {#                                    </div>#}
    {#                                {% endif %}#}
    {#                            {% endfor %}#}
    {#                        {% endfor %}#}
    {#                    {% endfor %}#}
    {#                </div>#}
    {#            </div>#}

    {#             #}{#SYNERGIE - Synthese des exercices choisis#}
    {#            <div class="row py-2 border-top border-light">#}
    {#                <div class="col-2 mr-5">#}
    {#                    <img src="{{asset("image/synergie.png")}}" class="" alt="synergie">#}
    {#                </div>#}
    {#                <div class="col d-flex justify-align-end">#}
    {#                    {% for exercice in exercices %}#}
    {#                        {% for cat, exo in exercice %}#}
    {#                            {% for ex, titre in exo %}#}
    {#                                {% if 3 == cat %}#}
    {#                                    <div class="col-2 text-center px-0 mx-0">#}
    {#                                        <a href="https://jouer-collectif.com/contenu/{{ ex }}" target="_blank">#}
    {#                                            <div class="card border border-light mr-3 py-1 shadow" style="height: 4vw;">#}
    {#                                                <div class="card-body p-0">#}
    {#                                                    <p class="card-title font-weight-light d-flex justify-content-center titre-card">{{ titre }}</p>#}
    {#                                                </div>#}
    {#                                            </div>#}
    {#                                        </a>#}
    {#                                    </div>#}
    {#                                {% endif %}#}
    {#                            {% endfor %}#}
    {#                        {% endfor %}#}
    {#                    {% endfor %}#}
    {#                </div>#}
    {#            </div>#}

    {#             #}{#ANCRAGE - Synthese des exercices choisis#}
    {#            <div class="row py-2 border-top border-light">#}
    {#                <div class="col-2 mr-5">#}
    {#                    <img src="{{asset("image/ancrage.png")}}" class="" alt="cc">#}
    {#                </div>#}
    {#                <div class="col d-flex justify-align-end">#}
    {#                    {% for exercice in exercices %}#}
    {#                        {% for cat, exo in exercice %}#}
    {#                            {% for ex, titre in exo %}#}
    {#                                {% if 4 == cat %}#}
    {#                                    <div class="col-2 text-center px-0 mx-0">#}
    {#                                        <a href="https://jouer-collectif.com/contenu/{{ ex }}" target="_blank">#}
    {#                                            <div class="card border border-light mr-3 py-1 shadow" style="height: 4vw;">#}
    {#                                                <div class="card-body p-0">#}
    {#                                                    <p class="card-title font-weight-light d-flex justify-content-center titre-card">{{ titre }}</p>#}
    {#                                                </div>#}
    {#                                            </div>#}
    {#                                        </a>#}
    {#                                    </div>#}
    {#                                {% endif %}#}
    {#                            {% endfor %}#}
    {#                        {% endfor %}#}
    {#                    {% endfor %}#}
    {#                </div>#}
    {#            </div>#}

    {#             #}{#DECLUSION - Synthese des exercices choisis#}
    {#            <div class="row py-2 border-top border-light">#}
    {#                <div class="col-2 mr-5">#}
    {#                    <img src="{{asset("image/declusion.png")}}" class="" alt="cc">#}
    {#                </div>#}
    {#                <div class="col d-flex justify-align-end">#}
    {#                    {% for exercice in exercices %}#}
    {#                        {% for cat, exo in exercice %}#}
    {#                            {% for ex, titre in exo %}#}
    {#                                {% if 5 == cat %}#}
    {#                                    <div class="col-2 text-center px-0 mx-0">#}
    {#                                        <a href="https://jouer-collectif.com/contenu/{{ ex }}" target="_blank">#}
    {#                                            <div class="card border border-light mr-3 py-1 shadow" style="height: 4vw;">#}
    {#                                                <div class="card-body p-0">#}
    {#                                                    <p class="card-title font-weight-light d-flex justify-content-center titre-card">{{ titre }}</p>#}
    {#                                                </div>#}
    {#                                            </div>#}
    {#                                        </a>#}
    {#                                    </div>#}
    {#                                {% endif %}#}
    {#                            {% endfor %}#}
    {#                        {% endfor %}#}
    {#                    {% endfor %}#}
    {#                </div>#}
    {#            </div>#}

    {#    <div class="row">#}
    {#        <div class="col-sm-6 d-flex justify-content-start mt-3 w-25">#}
    {#            <a href="{{ path('index') }}">#}
    {#                <img src="{{ asset("image/fleche_accueil.png") }}" class="my-0 ml-5 suivant text-right"#}
    {#                     alt="fleche_accueil">#}
    {#            </a>#}
    {#        </div>#}

    {#                <div class="col-sm-6 d-flex justify-content-end mt-3 w-25">#}
    {#                    <a href="{{ path('pdf_arbre')}}" target="_blank">#}
    {#                        <img src="{{asset("image/fleche_telecharger.png")}}" class="my-0 ml-5 suivant text-right" alt="fleche_telecharger">#}
    {#                    </a>#}
    {#                </div>#}

{% endblock %}
