<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="icheck-material.css" rel="stylesheet" type="text/css">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
<section class="ecranHaut">
    {#    menu de navigation#}
    <div class="menu-box">
        <div class="nav flex-column">
            <div id="navbarSupportedContent">
                <div class="collapse d-flex align-items-center">
                    <a class="button_nav" href="" id="1"></a>
                    <div class="text-button" id="text-1">Accueil</div>
                </div>
                <div class="collapse d-flex align-items-center">
                    <a class="button_nav" href="" id="2"></a>
                    <div class="text-button" id="text-2">Comment ça marche ?</div>
                </div>
                <div class="collapse d-flex align-items-center">
                    <a class="button_nav" href="" id="3"></a>
                    <div class="text-button" id="text-3">Ressources</div>
                </div>
                <div class="collapse d-flex align-items-center">
                    <a class="button_nav" href="" id="4"></a>
                    <div class="text-button" id="text-4">Boutique</div>
                </div>
                <div class="collapse d-flex align-items-center">
                    <a class="button_nav" href="" id="5"></a>
                    <div class="text-button" id="text-5">Contact</div>
                </div>
            </div>
        </div>
    </div>
    </div>

    {#        Banniere#}
    <div class="banner-box">
        {% block banner %}{% endblock %}
    </div>
    {#logo sur la droite#}

    <div class="logo-box">
        <img src="{{ asset('build/images/new_logo.png') }}" class="logo" alt="logo">
    </div>
    </div>
    </header>
    {% block body %}{% endblock %}
</section>
<section class="ecranBas">
    <div class="container-fluid">
        <div class="ccb-box">
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
                <img class="ccby" src="{{ asset('build/images/ccby.png') }}" alt="cc">
            </a>
        </div>
        <div class="logo-fb-box">
            <a href="https://www.facebook.com/jouercollectif/" target="_blank">
                <img src="{{ asset('build/images/logo_fb.png') }}" alt="logo_fb" class="logo-fb">
            </a>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-4">
                        <HR align=center class="separateur1" size=4 width="100%">
                    </div>
                    <div class="col-4 p-0">
                        <div class="anatomie h4">
                            Anatomie
                        </div>
                    </div>
                    <div class="col-4">
                        <HR class="separateur1" size=4 align=center width="100%">
                    </div>
                </div>
                <p class="footer-titre">Mais qu'est-ce que c'est ?</p>
                <hr class="separateur2">
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="text_footer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod
                    </p>
                </div>
            </div>
        </div>
        <div class="remerciement-box">
            <p class="text-remerciement">Site proposé sur l’impulsion de Claire Rosart (Laboratoire du
                collectif)
                et propulsé par Valentin Coblentz, Adeline Jacquot et Adrien Méchin (Wild Code School Strasbourg
                2019), dans la dynamique de l'Économie du Don.</p>
        </div>
        </div>

</section>
</body>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</html>
