<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="icheck-material.css" rel="stylesheet" type="text/css">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
<div class="ecranHaut">
    {#    menu de navigation#}
    <div class="menu-box">
        <div class="nav flex-column">
            <div id="navbarSupportedContent">
                <div class="collapse d-flex align-items-center">
                    <a class="button_nav" href="{{ path('index') }}" id="1"></a>
                    <div class="text-button" id="text-1">Accueil</div>
                </div>
                <div class="collapse d-flex align-items-center">
                    <a class="button_nav" href="{{ path('ccm-index') }}" id="2"></a>
                    <div class="text-button" id="text-2">Comment ça marche ?</div>
                </div>
                <div class="collapse d-flex align-items-center">
                    <a class="button_nav" href="{{ path('wiki-index') }}" id="3"></a>
                    <div class="text-button" id="text-3">Ressources</div>
                </div>
                <div class="collapse d-flex align-items-center">
                    <a class="button_nav" href="{{ path('boutique-index') }}" id="4"></a>
                    <div class="text-button" id="text-4">Boutique</div>
                </div>
                <div class="collapse d-flex align-items-center">
                    <a class="button_nav" href="{{ path('contact') }}" id="5"></a>
                    <div class="text-button" id="text-5">Contact</div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="collapse d-flex align-items-center">
                        <a class="button_nav" href="{{ path('app_logout') }}" id="6"></a>
                        <div class="text-button" id="text-6">Deconnexion</div>

                    </div>
                {% else %}
                    <div class="collapse d-flex align-items-center">
                        <a class="button_admin" href="{{ path('app_login') }}" id="7"></a>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    {#        Banniere#}
    <div class="banner-box">
        {% block banner %}{% endblock %}
    </div>


    {#logo sur la droite#}
    <div class="logo-box">
        <img src="{{ asset('build/images/new_logo.png') }}" class="logo" alt="logo">
    </div>
</div>


<div class="container">
    {% block body %}{% endblock %}
</div>

<section class="ecranBas">
    <div class="container-fluid">
        <div class="ccb-box">
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
                <img class="ccby" src="{{ asset('build/images/ccby.png') }}" alt="cc">
            </a>
        </div>
        <div class="logo-fb-box">
            <a href="https://www.facebook.com/jouercollectif/" target="_blank">
                <img src="{{ asset('build/images/logo_fb.png') }}" alt="logo_fb" class="logo-fb">
            </a>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-4">
                        <HR align=center class="separateur1" size=4 width="100%">
                    </div>
                    <div class="col-4 p-0">
                        <div class="anatomie h4">
                            {% block footerTitre %}{% endblock %}
                        </div>
                    </div>
                    <div class="col-4">
                        <HR class="separateur1" size=4 align=center width="100%">
                    </div>
                </div>
                <p class="footer-titre">{% block footerSousTitre %}{% endblock %}</p>
                <hr class="separateur2">
            </div>
            <div class="col-sm-12 col-md-6 d-flex justify-content-center">
                <div class="text_footer">
                    <p>{% block footerDescription %}{% endblock %}
                    </p>
                </div>
            </div>
        </div>
        <div class="remerciement-box">
            <p class="text-remerciement">Site proposé sur l’impulsion de Claire Rosart (Laboratoire du
                collectif)
                et propulsé par
                <a href="https://www.linkedin.com/in/valentin-coblentz/" class="lien-linkedin" target="_blank">Valentin
                    Coblentz</a>,
                <a href="https://www.linkedin.com/in/jacquot-adeline/" class="lien-linkedin" target="_blank">Adeline
                    Jacquot</a> et
                <a href="https://www.linkedin.com/in/amechin/" class="lien-linkedin" target="_blank">Adrien Méchin</a>
            <p>
            <p class="text-center">(Wild Code School Strasbourg 2019), dans la dynamique de l'Économie du Don.</p>
        </div>
    </div>

</section>
</body>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</html>
