<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="icheck-material.css" rel="stylesheet" type="text/css">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<header class="container-fluid">
    <div class="row">
        <div class="col-sm-2 d-flex justify-content-left">
            <div class="nav flex-column">
                <div id="navbarSupportedContent">
                    <div class="collapse d-flex align-items-center">
                        <a class="button_nav" href="{{ path('index') }}" id="1"></a>
                        <div class="text-button" id="text-1">Accueil</div>
                    </div>
                    <div class="collapse d-flex align-items-center">
                        <a class="button_nav" href="{{ path ('ccm-index') }}" id="2"></a>
                        <div class="text-button" id="text-2">Comment ça marche ?</div>
                    </div>
                    <div class="collapse d-flex align-items-center">
                        <a class="button_nav" href="" id="3"></a>
                        <div class="text-button" id="text-3">Ressources</div>
                    </div>
                    <div class="collapse d-flex align-items-center">
                        <a class="button_nav" href="{{ path ('boutique-index') }}" id="4"></a>
                        <div class="text-button" id="text-4">Boutique</div>
                    </div>

                    <div class="collapse d-flex align-items-center">
                        <a class="button_nav" href="" id="5"></a>
                        <div class="text-button" id="text-5">Contact</div>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="collapse d-flex align-items-center">
                            <a class="button_nav" href="{{ path('app_logout') }}" id="6"></a>
                            <div class="text-button" id="text-6">Deconnexion</div>

                        </div>
                    {% else %}
                        <div class="collapse d-flex align-items-center">
                            <a class="button_nav" href="{{ path('app_login') }}" id="7"></a>
                            <div class="text-button" id="text-7">Connexion</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-8 d-flex justify-content-center">
            {% block banner %}{% endblock %}
        </div>
        <div class="col-sm-2">
            <div class="justify-content-right">
                <img class="logo pt-2" src="{{ asset('build/images/new_logo.188e785d.png') }}" alt="logo">
            </div>
        </div>
    </div>
</header>
<body>
{% block body %}{% endblock %}
</body>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</html>