{% extends 'base-arbre.html.twig' %}

{% block title %}Réunion - Créer le champ{% endblock %}

{% block banner %}
    <img src="{{ asset('build/images/banner_accueil.png') }}" alt="banner" class="banner-sm">
{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center">
        {#        message si ajout exercices dans synthese#}
        <div class="row message-box">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-success text-center">
                        <h4 class="alert-heading text-success">Ce Module a bien été ajouté à votre Design !</h4>
                        {#                        <h6 class="text-success">{{ message }}</h6>#}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {#        affichage de la fresque chrono#}
        <div class="row fresque-box">
            <img src="{{ asset("build/images/timeline_cc.0e1bec64.png") }}" alt="Fresque chronologique"
                 class="timeline">
        </div>


        {#        Affichage de la catégorie selectionnée#}
        <div class="row images-et-creer-champ-box">
            <div class="col-12 col-md-4">
                <img src="{{ asset("build/images/mains.png") }}" class="images-gauche-arbre" alt="mains">
            </div>
            <div class="col-12 col-md-4">
                <p class="text-center texte-arbre mx-5">Créer le champ</p>
            </div>
            <div class="col-12 col-md-4">
                <img src="{{ asset("build/images/fleur.png") }}" class="images-droite-arbre" alt="fleur">
            </div>
        </div>

        {#        affichage de la consigne#}
        <div class="row consigne-box">
            <div class="col d-flex justify-content-center">
                <p class="consigne">Faîtes votre choix de module par sous-categorie</p>
            </div>
        </div>

        {#        affichage de la fleche vers le bas#}
        <div class="row fleche-bas-box">
            <div class="col d-flex justify-content-center">
                <img class="fleche-bas" src="{{ asset("build/images/white-arrow-bottom.44f28ff5.png") }}" alt="fleche">
            </div>
        </div>



        {#        Affichage des sous-categories#}
        <div class="row sous-categorie-box">
            {% for carte in cartes %}
                <a href="{{ path('reunion-creer-champ', {'duree': duree, 'groupe': groupe, 'carte': carte.0}) }}">
                    <div class="btn btn-outline-light texte-sous-categorie mx-4">
                        {{ carte.1 }}
                    </div>
                </a>
            {% endfor %}
        </div>

        {#         Affichage des exercices#}
        <div class="row exercices-box d-flex justify-content-center mx-3">
            {% for exercice in exercices %}
                <div class="col-5 p-3">
                    <div class="card exercices">
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <p class="card-title titre-card-exercice">Module</p>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <p class="card-title titre-card text-center">{{ exercice.titre }}</p>
                            </div>
                            <div class="row d-flex justify-content-center mt-3">
                                <a href="https://jouer-collectif.com/contenu/{{ exercice.id }}" target="_blank"
                                   class="btn btn-lg btn-outline-dark m-auto">Détail</a>
                                {% if exercice is defined %}
                                    <a href="{{ path('reunion-creer-champ', {'duree': duree, 'groupe':groupe, 'carte': carte, 'exo': exercice.id, 'catId': catSelectId}) }}"
                                       class="btn btn-lg btn-outline-success m-auto">Ajouter</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row fleche-box-cc">
            {#                <a href="{{ path('correspondance_Engagement', {'duree': duree, 'groupe':groupe}) }}">#}
            <img src="{{ asset("build/images/fleche_suivant.png") }}" class="my-0 fleche-suivant"
                 alt="suivant">
            {#                </a>#}
        </div>

        {#        fin de mon container#}
    </div>

{% endblock %}
